<% layout('./layouts/boilerplate')%>
<div class="row">
<div class="col-6 offset-3">
<div class="card" >
    <img src="<%=camp.image%>" alt="Camground-image">
    <div class="card-body">
      <h5 class="card-title"><%=camp.title%></h5>
      <p class="card-text"><%=camp.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">$<%=camp.price%></li>
      <li class="list-group-item"><%=camp.location%></li>
    </ul>
    <div class="card-body">
        <a class="btn btn-primary" href="/campgrounds">See All camps</a>
        <a  class="btn btn-warning" href="/campgrounds/<%=camp._id%>/edit">Edit Comment</a>
        <form class="d-inline" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete this Comment</button>
        </form>
    </div>
  </div>
  </div>
  </div>




        <!-- <h1><%=camp.title%></h1>
        <h2><%=camp.location%></h2>
        <img src="<%=camp.image%>" alt="Camground-image">
        <p><%=camp.description%></p>
        <a href="/campgrounds/<%=camp._id%>/edit">Edit Comment</a>
        <a href="/campgrounds">See All camps</a>
        <script src="" async defer></script>
        <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
            <button >Delete this Comment</button>
        </form>
  -->